<style type="text/css">
#debugStates{
  position: absolute;
  z-index: 999999;
  margin: 0.3rem;
  font: 14px sans-serif;
  font-weight: bold;
}
#debugStates span{
  display: inline-block;
  padding: 1rem;
  margin: 0.3rem;
  background: #000;
  color: #fff;
  border-radius: 10px;
}
#debugStates span.active{
  background: #5af;
  color: #fff;
}
</style>
<div id="debugStates">
  <span id="debugIsGameOver">isGameOver</span>
  <span id="debugIsPaused">isPaused</span>
  <span id="debugIsPlaying">isPlaying</span>
</div>