<a-entity id="sky" cubemap="folder: assets/img/env/space/"></a-entity>

<a-entity id="skyFade"
          bind__visible="menu.active"
          bind__isPlaying="menu.active"
          geometry="primitive: box; width: 50; height: 50; depth: 50"
          material="shader: flat; color: #111; opacity: 0.6; side: back"></a-entity>

<a-plane id="floor"
         width="40"
         height="40"
         rotation="-90 0 0"
         material="src: #gridImg; transparent: true; color: #f9e3fb; repeat: 80 80; depthWrite: false">
  <a-plane position="0 0 -0.01"
           width="2"
           height="2"
           material="color: #000; transparent: true; opacity: 0.7"></a-plane>
</a-plane>

<!-- Default lights -->
<a-entity light="type: ambient; color: #BBB"></a-entity>
<a-entity light="type: directional; color: #FFF; intensity: 0.6" position="-0.5 1 1"></a-entity>

<a-entity id="dustParticles" particle-system="maxAge: 100; positionSpread: 5 5 5; type: 2; rotationAxis: x; rotationAngle: 0.001; accelerationValue: 0.001 0.001 0.001; accelerationSpread: 0.001 0.001 0.001; velocityValue: 0.001 0.001 0.001; velocitySpread: 0.0125 0.0125 0.0125; color: #ffffff; size: 0.1; opacity: 0.85; direction: 0; particleCount: 150; texture: assets/img/smokeparticle.png"></a-entity>
