<a-entity 
  id="gameInfo"
  bind__visible="!menu.active && !!challenge.id && !challenge.isLoading">
  <a-entity position="0.80 0.01 -1.3">
    <a-entity 
      id="score"
      bind__text="value: score.score"
      mixin="textFont"
      text="width: 2; color: #feffc1; letterSpacing: -2;"
      rotation="-90 0 0">      
    </a-entity>
  </a-entity>
  <a-entity 
    id="combo"
    bind__text="value: score.combo"
    mixin="textFont"
    text="width: 1; color: #feffc1; letterSpacing: -2; align: center"
    position="-1.8 1.2 -4"
    scale="5 5 5">      
  </a-entity>
  <a-entity 
    id="multiplier"
    bind__text="value: score.multiplier"
    mixin="textFont"
    text="width: 1; color: #feffc1; letterSpacing: -2; align: center"
    position="1.8 1.2 -4"
    scale="5 5 5">      
  </a-entity>
</a-entity>
