<!DOCTYPE html>
<html>
  <head>
    <title>Supersaber</title>
    <script src="vendor/aframe.pr3701.js"></script>
    <script src="build/build.js"></script>
  </head>
  <body>
    <a-scene bind__beat-loader="challengeId: challenge.id; difficulty: challenge.difficulty"
             bind__preview-song="challengeId: menuSelectedChallenge.id; previewStartTime: menuSelectedChallenge.previewStartTime"
             bind__song="challengeId: challenge.id; isPlaying: !menu.active && !challenge.isLoading"
             console-shortcuts
             search>
      <a-assets timeout="10000">
        <audio id="hoverSound" src="/assets/sounds/hover.ogg"></audio>
        <img id="gridImg" src="assets/img/grid.png">
        <img id="playImg" src="assets/img/play.png">
        <img id="resultImg" src="assets/img/result.png">
        <img id="sliceImg" src="assets/img/slice.png">
        <a-mixin id="font" text="font: exo2semibold; letterSpacing: -1"></a-mixin>
        <a-mixin id="raycaster" raycaster="objects: [raycastable]; far: 2"></a-mixin>
        <a-mixin id="slice" slice9="color: #050505; src: #sliceImg; left: 50; right: 52; top: 50; bottom: 52; padding: 0.04"></a-mixin>
        <a-mixin id="textFont" text="font: exo2semibold; letterSpacing: -1"></a-mixin>
      </a-assets>

      <a-entity id="container" recenter>
        {% include './templates/environment.html' %}
        {% include './templates/gameUi.html' %}
        {% include './templates/menu.html' %}
      </a-entity>

      <a-entity id="cameraRig">
        <a-entity id="camera" camera look-controls="enabled: false" orbit-controls="target: 0 1.6 -0.5; maxDistance: 20; initialPosition: 0 1.6 0"></a-entity>
        <a-entity id="leftHand" controller="hand: left"></a-entity>
        <a-entity id="rightHand" controller="hand: right"></a-entity>
      </a-entity>

      <a-entity id="mouseCursor" mixin="raycaster" cursor="rayOrigin: mouse" debug-cursor
                bind__raycaster="enabled: !inVR"></a-entity>
    </a-scene>
  </body>
</html>
