<!DOCTYPE html>
<html>
  <head>
    <title>Supersaber</title>
    <script src="vendor/aframe.effects.js"></script>
    <script src="build/build.js"></script>
  </head>
  <body>
    <audio id="introSong" src="assets/sounds/introSong.ogg" loop></audio>

    <a-scene
      bind__beat-loader="challengeId: challenge.id; difficulty: challenge.difficulty; isPaused: isPaused"
      bind__song="challengeId: challenge.id; isPlaying: isPlaying && !challenge.isLoading"
      bind__song-preview-system="selectedChallengeId: menuSelectedChallenge.id"
      bind__overlay="enabled: !isPlaying"
      console-shortcuts
      debug-controller
      effect-bloom="strength: 1"
      intro-song
      overlay="objects: #menu, #keyboard, #rightHand, #leftHand, [mixin~='cursorMesh'], #pauseDialog"
      pool__beat-arrow-blue="mixin: beat arrow-blue-beat; size: 5; container: #beatContainer"
      pool__beat-arrow-red="mixin: beat arrow-red-beat; size: 10; container: #beatContainer"
      pool__beat-dot-blue="mixin: beat dot-blue-beat; size: 10; container: #beatContainer"
      pool__beat-dot-red="mixin: beat dot-red-beat; size: 10; container: #beatContainer"
      proxy-event="event: menuchallengeselect; to: #searchResultsContainer, #menuDifficultiesGroup"
      search
      stage-colors="blue"
      fog="color: #a00; density: 0.035; type: exponential">
      <a-assets timeout="10000">
        <a-asset-item id="arrowObj" src="assets/models/arrow.obj"></a-asset-item>
        <a-asset-item id="backglow-obj" src="assets/models/backglow.obj"></a-asset-item>
        <a-asset-item id="beatObj" src="assets/models/beat.obj"></a-asset-item>
        <a-asset-item id="dotObj" src="assets/models/dot.obj"></a-asset-item>
        <a-asset-item id="logofront-obj" src="assets/models/logofront.obj"></a-asset-item>
        <a-asset-item id="logoback-obj" src="assets/models/logoback.obj"></a-asset-item>
        <a-asset-item id="logofront-u-obj" src="assets/models/logofront-u.obj"></a-asset-item>
        <a-asset-item id="logoSparks" src="assets/models/logosparks.json"></a-asset-item>
        <a-asset-item id="laserObj" src="assets/models/laser/laser.obj"></a-asset-item>

        <audio id="hoverSound" src="assets/sounds/hover.ogg"></audio>
        <audio id="saberDraw" src="assets/sounds/saberDraw.wav"></audio>

        <img id="backglowTexture" src="assets/img/stage/backglow.png">
        <img id="cursorMeshImg" src="assets/models/laser/laser.png">
        <img id="downIconImg" src="assets/img/downIcon.png">
        <img id="envmapTexture" src="assets/img/envMap.png"></img>
        <img id="floorImg" src="assets/img/stage/floor.png">
        <img id="gridImg" src="assets/img/grid.png">
        <img id="playImg" src="assets/img/play.png">
        <img id="skyTexture" src="assets/img/stage/sky.jpg">
        <img id="sliceImg" src="assets/img/slice.png">
        <img id="slicebtnImg" src="assets/img/slicebtn.png">
        <img id="smokeTexture" src="assets/img/stage/smoke.png">
        <img id="beamImg" src="assets/img/beam.png">
        <img id="wrongBlueImg" src="assets/img/wrongblue.png">
        <img id="wrongRedImg" src="assets/img/wrongred.png">
        <img id="missBlueImg" src="assets/img/missblue.png">
        <img id="missRedImg" src="assets/img/missred.png">

        <a-mixin id="slice" slice9="color: #050505; transparent: true; opacity: 0.7; src: #sliceImg; left: 50; right: 52; top: 50; bottom: 52; padding: 0.18"></a-mixin>
        <a-mixin id="stageLaser" geometry="height: 300; depth: 0.16; width: 0.16" materials="neon"></a-mixin>
        <a-mixin id="font" text="font: assets/fonts/Teko-Bold.json; shader: msdf; letterSpacing: 1"></a-mixin>
        <a-mixin id="textFont" text="font: assets/fonts/Teko-Bold.json; shader: msdf; letterSpacing: 1"></a-mixin>

        <a-mixin id="beat" beat></a-mixin>
        <a-mixin id="arrow-blue-beat" beat="color: blue; type: arrow"></a-mixin>
        <a-mixin id="arrow-red-beat" beat="color: red; type: arrow"></a-mixin>
        <a-mixin id="dot-blue-beat" beat="color: blue; type: dot"></a-mixin>

        <a-mixin id="bad-beat"
          geometry="primitive: plane"
          material="shader: flat; transparent: true"
          visible="false"
          animation__posz="property: object3D.position.z; to: -8; startEvents: beatwrong; easing: easeOutQuart; dur: 4000"
          animation__alpha="property: components.material.material.opacity; from: 1; to: 0; startEvents: beatwrong; easing: easeOutQuart; dur: 4000"></a-mixin>
      </a-assets>

      <a-entity id="arrowObjTemplate" obj-model="obj: #arrowObj" visible="false"></a-entity>
      <a-entity id="beatObjTemplate" obj-model="obj: #beatObj" visible="false"></a-entity>
      <a-entity id="dotObjTemplate" obj-model="obj: #dotObj" visible="false"></a-entity>

      <a-entity id="beatContainer" bind__pause="isPaused: isPaused" beat-pauser></a-entity>

      <a-entity id="cursorLaser" obj-model="obj: #laserObj" visible="false"></a-entity>

      <a-entity id="container">
        {% include './templates/stage.html' %}
        {% include './templates/gameUi.html' %}
        {% include './templates/menu.html' %}
        {% include './templates/dialogs.html' %}

      </a-entity>

      <!-- Wrong + miss beat visual indicators. -->
      <a-entity id="wrongLeft" mixin='bad-beat' geometry="height: 0.3; width: 0.3" material="src: #wrongRedImg"></a-entity>
      <a-entity id="wrongRight" mixin='bad-beat' geometry="height: 0.3; width: 0.3" material="src: #wrongBlueImg"></a-entity>
      <a-entity id="missLeft" mixin='bad-beat' geometry="height: 0.25; width: 0.5" material="src: #missRedImg"></a-entity>
      <a-entity id="missRight" mixin='bad-beat' geometry="height: 0.25; width: 0.5" material="src: #missBlueImg"></a-entity>

      <!-- Player. -->
      <a-mixin
        id="raycaster"
        raycaster="objects: [raycastable]; far: 3"
        line="opacity: 0.75"></a-mixin>
      <a-mixin
        id="cursorMesh"
        material="shader: flat; transparent: true; src: #cursorMeshImg; depthTest: false"
        sub-object="from: #cursorLaser; name: glow"></a-mixin>
      <a-entity id="cameraRig">
        <a-entity id="camera" position="0 1.6 0.5" camera look-controls wasd-controls></a-entity>

        {% macro saber (hand, otherHand, bladeColor, beamColor) %}
          <a-entity id="{{ hand }}Hand"
            mixin="raycaster"
            bind__hand-swapper="enabled: {{ otherHand }}RaycasterActive"
            bind__menu-controls="page: search.page; selectedChallengeId: menuSelectedChallenge.id"
            bind__pauser="enabled: isPlaying"
            bind__raycaster="enabled: {{ hand }}RaycasterActive"
            bind__saber-controls="bladeEnabled: isPlaying"
            bind__trail="enabled: isPlaying"
            haptics="events: mouseenter; dur: 35; force: 0.075"
            saber-controls="hand: {{ hand }}"
            thumb-controls
            thumb-controls-debug="enabled: false; hand: {{ hand }}; controllerType: vive-controls"
            trail="color: {{ bladeColor }}">
            <a-entity
              id="{{ hand }}Laser"
              bind__visible="activeHand === '{{ hand }}'"
              cursor-laser="hand: {{ hand }}"
              sub-object="from: #cursorLaser; name: beam"
              material="color: {{ beamColor }}; shader: flat; transparent: true; opacity: 0.04"></a-entity>

            <a-entity class="saberContainer" rotation="90 0 0">
              <a-entity
                class="bladeContainer"
                bind__visible="isPlaying"
                animation="property: scale; from: 0 0 0; to: 1 1 1; dur: 750; easing: linear; startEvents: drawblade"
                scale="0.001 0.001 0.001">
                <a-entity
                  class="blade"
                  geometry="primitive: box; height: 0.9; depth: 0.02; width: 0.02"
                  material="shader: flat; color: {{ bladeColor }}"
                  play-sound="event: drawblade; sound: #saberDraw"
                  position="0 -0.55 0"></a-entity>
              </a-entity>
              <a-entity
                class="saberHandle"
                geometry="primitive: box; height: 0.2; depth: 0.025; width: 0.025"
                material="shader: flat; color: #151515">
                <a-entity
                  class="highlightTop"
                  geometry="primitive: box; height: 0.18; depth: 0.005; width: 0.005"
                  material="shader: flat; color: {{ bladeColor }}"
                  position="0 0 0.0125"></a-entity>
                <a-entity
                  class="highlightBottom"
                  geometry="primitive: box; height: 0.18; depth: 0.005; width: 0.005"
                  material="shader: flat; color: {{ bladeColor }}"
                  position="0 0 -0.0125"></a-entity>
              </a-entity>
            </a-entity>

            <a-entity class="fakeGlow" rotation="90 0 0" position="0 0.01 0" bind__visible="!isPlaying">
              <a-entity geometry="primitive: cylinder; height: 0.1831; radius: 0.0055" material="color: {{ beamColor }}; shader: flat; opacity: 0.11"></a-entity>
              <a-entity geometry="primitive: cylinder; height: 0.1832; radius: 0.0065" material="color: {{ beamColor }}; shader: flat; opacity: 0.09"></a-entity>
              <a-entity geometry="primitive: cylinder; height: 0.1833; radius: 0.0075" material="color: {{ beamColor }}; shader: flat; opacity: 0.06"></a-entity>
              <a-entity geometry="primitive: cylinder; height: 0.1834; radius: 0.0085" material="color: {{ beamColor }}; shader: flat; opacity: 0.04"></a-entity>
            </a-entity>
          </a-entity>

          <a-entity
            id="{{ hand }}CursorMesh"
            mixin="cursorMesh"
            cursor-mesh="cursorEl: #{{ hand }}Hand"
            material="color: {{ beamColor }}"
            scale="1.3 1.3 1.3"></a-entity>
        {% endmacro %}

        {{ saber('left', 'right', '#FFA8A8', 'pink') }}
        {{ saber('right', 'left', '#78AAFF', 'cyan') }}
      </a-entity>

      {% if not IS_PRODUCTION %}
        <a-entity id="mouseCursor" mixin="raycaster" cursor="rayOrigin: mouse"
                  bind__raycaster="enabled: !inVR" raycaster="showLine: false"></a-entity>
        <a-entity id="mouseCursorMesh" mixin="cursorMesh" cursor-mesh="cursorEl: #mouseCursor"></a-entity>
      {% endif %}
    </a-scene>
  </body>
</html>
